[audio]
output = tee name=t t. ! queue ! pulsesink server=127.0.0.1 t. ! queue ! audioresample ! audioconvert ! audio/x-raw,rate=44100,channels=2,format=S16LE ! wavenc ! filesink location=/tmp/mpd.fifo

[mpd]
enabled = true
hostname = 127.0.0.1
port = 6600

[spotify]
enabled = true
client_id = {{ client_id }}
client_secret = {{ client_secret }}
username = {{ username }}
password = {{ password }}
bitrate = 320
